@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}

body {
  background-color: rgb(199, 126, 177);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.todo{
    font-size: 100px;
}

button {
  border: 1px solid rgb(2, 7, 34);
  border-radius: 5px;
  background-color: rgb(253, 194, 234);
  color: rgb(14, 1, 10);
  text-align: center;
  padding: 5px;
  
}

input[type="text"] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(184, 172, 172);
}

#tasks {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

:checked + label {
  text-decoration: line-through;
  color: rgb(0, 0, 0);
}